.main-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 20px;
    box-sizing: border-box;
}

.login-card{
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.login-input{
    width: 100%;
    position: relative;
}

.login-input>input{
    margin: 5px auto;
    flex: 1;
}

.show-btn{
    position: absolute;
    right: 90px;
    background: transparent;
    color: black;
    border: none;
    box-shadow: none;
    outline: none;
}

.show-btn:hover{
    color: black;
    outline: none;
    box-shadow: none;

}

.show-btn>*{
    transform:translateY(-5px);
    opacity: .5;
    width: 20px!important;
}

.forgot-pass{
    font-size: 10px;
    cursor: pointer;
    color: gray;
    
}

@media only screen and (max-width:420px) {
    .show-btn{
        right: 22%;
    }
}

