.message-box-outer-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.438);
}

.message-box-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 600px;
  max-height: 600px;
  padding: 0 30px;
  border-radius: 10px;
  background-color: rgb(243, 240, 240);
}

.msg-content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 450px;
}

.message-form {
  width: 100%;
  display: flex;
  padding: 5px;
  position: relative;
  transition: all ease 0.3s;
  left: 0;
  bottom: 0vh;
}

.message-input {
  width: 90%;
}

.msg {
  border: 1px solid #ddd;
  padding: 10px;
  width: fit-content;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #ddd;
  background-color: #eee;
}

.friends-msg {
  background-color: #fff;
  margin-right: 70px;
}

.msg p {
  padding: 10px;
  background: transparent;
  letter-spacing: 1.3px;
  font-size: 16px;
}

.msg h6,
.msg em {
  color: black;
  background: transparent;
  font-size: 10px;
}

.head-div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.back-cross {
  width: fit-content;
  text-align: left;
  transform: translateX(-20px);
  cursor: pointer;
}

.box-head {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .message-box-outer{
    max-height: 100vh;
    overflow-y: scroll;
  }
  .msg-content {
    min-height: 70vh;
  }
  .message-form {
    position: absolute;
  }
}
