.request-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(214, 214, 214);
    min-height: 100vh;
}


.request-page-main{
    max-width: 700px;
    margin: 10px;
    width: 100%;
    
}

.request-page-main>form{
    margin: 10px 5px;
    display: flex;
    position: sticky;
    top: 45px;
}

.request-search{
    width: 90%;
    max-width: 700px;
}

.request-card{
    box-shadow: 0.5px 0.5px 4px 2px rgb(168, 162, 162);
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: white;
}

.request-card:hover{
    box-shadow: 0.5px 0.5px 8px 2px rgb(168, 162, 162);
}

.request-card>p{
    font-size: 0.9em;
    margin: 10px;
}

.add-button{
    background:transparent;
    fill: rgb(43, 68, 209) !important;
    width: 70px !important;
    height: auto !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

@media screen and (min-width:500px) {
    .add-button{
        right: 22%;
    }
}

.adding-new-item-div{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background: rgba(46, 46, 46, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-item-div{
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
}
