.service-categories{
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}