.you-may-like-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.you-may-like-container{
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

