*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:#ffffff;
	scroll-behavior:smooth;
	color:black;
}

.VStatus{
	color:orange !important;
	border:1px solid orange;
	border-radius:50000px;
	width:fit-content;
	margin:4px 1px;
	padding:4px;
}

b{
	background:transparent;
}

.c-name{
	padding-top:30px;
}

a{
	font-size:14px;
	transition:all ease 0.3s;
	text-decoration:none;
	padding:5px;
	background:transition;
}

a:hover{
	border-bottom:2px solid orange;
}

.App {
  text-align: center;
}


.whitebg{
	background-color:white;
}

.AboutUs{
	margin:60px;
	text-align: start;
}

.breakpoint{
	padding-top:50px;
}

.f-cursive{
	font-family:cursive;
}

.NavbarDiv{
	display:flex;
	padding:4px;
	box-shadow:1px 1px 5px 1px grey;
	width:100%;
	position:fixed;
	z-index:1;
	opacity:0.95;
	align-items:center;
}

.nav-icon{
	cursor:pointer;
	transition:all ease 0.3s;
	margin:auto 3px;
}

.menu-icon{
	margin:auto 10px;
}

.nav-icon:hover{
	border-bottom:1px solid white;
}

.like-icon{
	font-size:12px !important;
	color:white !important;
	background-color:black;
	margin:auto 5px auto 0px;
}

.searchBar{
	padding:2px 4px;
	border-radius:20px;
	outline:none;
	opacity:1;
}

.searchBarDiv{
	position:fixed;
	top:0px;
	right:0;
	width:fit-content;
	opacity:1;
	background:transparent;
	z-index:1;
	display:flex;
	align-items:center;
	padding:auto;
}

.searchBarDiv input{
	background-color:black;
	color:white;
	padding:5px 10px;
	position:relative;
	left:10px;
}

.search-em{
	font-size:16px;
	display:inline-block;
	cursor:pointer;
	color:white;
	background:transparent;
	position:relative;
	left:-10px;
	opacity:0.9;
}

.logo{
	width:130px;
	min-height:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	background: transparent;
}



.Navhead{
	font-size:25px;
	margin:0 5px 0 5px;
	font-family:cursive;
	font-weight: 900;
}

.msg-menu-div{
	display:flex;
	position:absolute;;
	right:0;
	top:0;
	height:100%;
}

button{
	margin:8px;
	cursor:pointer;
	border:none;
	padding:2px 5px;
	box-shadow:0.5px 0.5px 1px 1px grey,
				-0.5px -0.5px 1px 1px grey,
				0.5px -0.5px 1px 1px grey,
				-0.5px 0.5px 1px 1px grey;
	border-radius:500000px;
	outline:none;
	background-color:black;
	color:white;
	opacity:1;
	width:fit-content;
	height:fit-content;
	transition:all ease 0.3s;
}

button:hover{
	box-shadow:1px 1px 1px 1px grey, 
				-1px -1px 1px 1px grey,
				1px -1px 1px 1px grey,
				-1px 1px 1px 1px grey;

	color:orange;
}


em{
	opacity:0.5;
	font-size:10px;
}

.search-btn{
	position:sticky;
	top:35px;
	z-index:1;
}

.menu{
	position:absolute;
	top:40px;
	right:0;
	border:1px solid #ddd;
	padding:10px;
	border-radius:10px;
	width:200px;
	height:62vh;
	overflow:scroll;
}

.menu ul{
	list-style:none;
}

.menu ul li{
	margin:10px 0;	
}

.MainScreen{
	margin-top:0px;
}

.SiteIntro{
	position:relative;
	top:-60px;
	margin:50px 0 0 0;
	overflow:hiden;
	padding:30px;
	box-shadow:0.1px 0.1px 4px #ddd;
	background:rgba(0,0,0,0.5);
	background-size:cover;
	background-position:25% center;
}

.SiteIntro-bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#f5fffe;
	background-size:cover;
	background-position:25% center;
	filter:blur(2px);
}

.SiteIntro-content{
	position:relative;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.4);
	padding:20px;
}

.SiteIntro-content h3, 
.SiteIntro-content p, 
.SiteIntro-content a, 
.SiteIntro-content em, 
.SiteIntro-content div{
	background:transparent;
	position:relative;
}

.SiteIntro-content .img-div{
	width:100%;
	background:transparent;
	transition:all ease 0.5s;
	opacity:0;
	padding-top:20vh;
	animation: main-head 0.5s linear 0.5s forwards;
}


.SiteIntro-content .img-div img{
	width:320px;
	position:relative;
}

.head-des{
	text-align:left;
	font-size:20px;
	color:black;
	padding-left:18px;
	background:transparent;
	transition:all ease 0.5s;
	opacity:0;
	animation: main-head-des 0.5s linear 1s forwards;
}

@keyframes main-head {
	0%{
		opacity:0;
		transform:translatey(50%);
	}
	100%{
		opacity:1;
		transform:translatey(0%);
	}
}

@keyframes main-head-des {
	0%{
		opacity:0;
		transform:translatey(50%);
	}
	100%{
		opacity:0.4;
		transform:translatey(0%);
	}
}

.SiteIntro-content h3{
	padding-left:18px;
	font-family:helvetica;
	transition:all ease 0.3s;
	font-size:16px;
	opacity:0;
}

.SiteIntro-content h3 b{
	color:darkblue;
}

.SiteIntro-content em{
	opacity:0.5;
	font-size:14px;
	transition:all ease 0.3s;
	opacity:0;
}

.SiteIntro-content p{
	font-size:16px;
	opacity:1;
}

.SiteIntro-content h3:hover{
	color:darkblue;
}

.ServiceCatagoryCard{
	padding:15px;
	background:transparent;
}

.ServiceCatagoryCard div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:fit-content;
	border-radius:500000px;
	padding:20px;
	background-color:#fff;
	box-shadow:0.1px 0.1px 3px #ddd;
	cursor:pointer;

}

.ServiceCatagoryCard div img{
	width:80px;
	border-radius:5px;
	display:block;
	background-color:transparent;
	overflow:hidden;
	margin:auto;
}


.ServiceCatagoryCard div div{
	border:none;
	margin:0 20px;
	background:transparent;
	box-shadow:none;
	width:fit-content;
}

.ServiceCatagoryCard div h6, 
.ServiceCatagoryCard div div h3, 
.ServiceCatagoryCard div div p{
	background:transparent;
	text-decoration:none;
	color:#12014f;
}

.ServiceCatagoryCard div div p, .ServiceCatagoryCard div div h3{
	color:black;
}

.ServiceCatagoryCard div div h3{
    font-size:17px;
}


.ServiceCatagoryCard div div p{
	opacity:0.6;
}


.ServiceCatagories{
	padding:40px 20px;
	background:transparent;
}

.nav-categories{
	position:fixed;
	top:40px;
	right:0;
	z-index:1;
	height:70vh;
	overflow:scroll;
	padding:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:rgba(255,255,255,0.7);
	border:1px solid #ddd;
	border-radius:10px;
}

.nav-service-catagory-card{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:5px;
	background:transparent;
}

.nav-service-catagory-card img{
	width:40px;
}

.ServiceCatagories div{
	border-radius:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.ServiceCatagories h3{
	background:transpatent;
	padding:20px;
	font-size:17px;
	opacity:0.8;
}

.ServiceCatagories a{
	font-size:10px;
	opacity:0.9;
}

.ServiceCard div, .ServiceCard div img{
	border-radius:0px;
}

.ServiceCard div img{
	opacity:1;
	width:200px;
}

.YouMayLike{
	display:flex;
	flex-direction:rows;
	justify-content:center;
}

.removeItem{
	position:relative;
	border:none;
}

.SearchScreen h6{
	opacity:0.5;
}

.SearchScreen div{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}


.FeedbackCard{
	background-color:#ddd;
	width:300px;
	border-radius:20px 0;
	word-wrap:wrap;
	box-shadow:1px 1px 5px #ddd;
	margin:10px;
	display:flex;
	flex-direction:column;
	padding:20px;
}

.FeedbackCard h6, .FeedbackCard p, .FeedbackCard em{
	background:transparent;
	padding:5px;
}

.FeedbackCard h6{
	opacity:0.6;
}

.FeedbackCard p{
	font-size:12px;
	letter-spacing:1.3px;
	height:60px;
	overflow:scroll;
}

.FeedbackCard em{
	font-size:8px;
	opacity:0.4;
}

.FeedbackCard img{
	width:50px;
	height:50px;
	border-radius:50%;
	overflow:hidden;
	margin:auto;
}

.Feedbacks{
	padding:20px 0;
	margin:40px auto;
}

.feedback-container{
	display:flex;
	padding:10px 0;
	width:100%;
	overflow:scroll;
}


.Footer div{
	padding:30px;	
	background-color:#ddd;
}

.Footer p{
	background-color:#ddd;
}

.AddFeedback{
	padding:20px;
	display:flex;
	flex-direction:column;
}

textarea, input{
	padding:5px;
	border-radius:10px;
	box-shadow:1px 1px 5px #ddd;
	border:1px solid #ddd;
	outline:none;
}

.MessageScreen{
	border:1px solid #ddd;
	padding:20px;
}

.MessageCard,.MessageCard div, .MessageCard div h3,.MessageCard div h6{
	background:transparent;
}

.MessageCard div h6{
	opacity:0.4;
}

.MessageCard{
	background-color:#f5fffe;
	margin:20px 40px;
	cursor:pointer;
	border-radius:10px;
	box-shadow:1px 1px 5px #ddd;
	display:flex;
	padding:5px 20px;
	justify-content:center;
	align-items:center;
}

.MessageCard div{
	flex:4;
	text-align:left;
	margin:0px 10px;
}

.MessageCard p{
	flex:1;
	background:transparent;
	width:20px;
	height:20px;
	border-radius:50%;
	margin-left:100px;
	font-size:10px;
}

.MessageBoxOuter{
	border-radius:10px;
	box-shadow:1px 1px 10px #ddd;
	position:absolute;
	top:0;
	width:100%;
	left:0;
	bottom:0;
	right:0;
	height:100%;
	overflow:scroll;
	z-index:2;
}

.cross{
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#fff8db;
	opacity:0.7;
	cursor:pointer;
	margin:10px;
	box-shadow:1px 1px 3px #fff8db;
	position:fixed;
	top:0px;
	right:0px;
	border:none;
	color:black;
}

.feedCross{
	position:static;
	margin:0;
}

.feedNotice{
	display:flex;
	font-size:10px;
	color:rgba(0,0,0,0.4);
	height:fit-content;
	position:absolute;
	top:100px;
}

.feedNotice h3{
	cursor:pointer;
}

.cross:hover{
	box-shadow:1px 1px 15px red;
	background:red;
	opacity:0.8;
}

.cross-for-delete{
	position:static;
}

.MessageBox{
	padding:0px;
}

.MessageBox h2{
	font-size:17px;
}

.MessageBox h5{
	position:sticky;
	top:10px;
	font-size:10px;
	opacity:0.6;
	background:transparent;
}

.toSend{
	display:flex;
	width:100%;
	position:sticky;
	bottom:0;
}

.toSend textarea{
	width:100%;
	margin:10px;
	
}

.msgContent{
	padding:10px;
	width:100%;
}

.msg{
	border:1px solid #ddd;
	padding:10px;
	width:fit-content;
	margin:10px;
	border-radius:20px;
	box-shadow:1px 1px 5px #ddd;
	background-color:#eee;
}

.myMsg{
	background-color:#fff;
	margin-left:70px;
}

.msg p{
	padding:10px;
	background:transparent;
	letter-spacing:1.3px;
	font-size:17px;
}

.msg h6,.msg em{
	color:black;
	background:transparent;
	opacity:0.5;
	font-size:10px;
}

.dummyText{
	display:flex;
	width:100%;
	overflow:scroll;
	margin-bottom:0px;
}

.dummyText h3{
	
	border-radius:10px;
	box-shadow:1px 1px 10px 1px #ddd inset,
				-1px -1px 5px 1px #eee inset;
	margin:10px 5px;
	font-weight:normal;
	padding:10px;
	width:400px;
	cursor:pointer;
	font-size:14px;
}


.SignupScreen{
	border-radius:20px;
	box-shadow:1px 1px 5px #ddd;
	margin:20px;
	display:flex;
	flex-direction:column;
}

.SignupScreen input{
	margin:20px 50px;
	font-size:12px;
	outline:none;
	padding:4px 10px;
	text-align:center;
	opacity:0.8;
}

.SignupScreen button{
	width:fit-content;
	margin:10px 30px 20px 80px;
	border:none;
}

.SignupScreen .signup-btn{
	width:80%;
	margin:10px 10%;
	font-size:18px;;
}

.SignupScreen textarea{
	margin:20px;
	padding:10px;
	border-radius:5px;
}


.profileImg{
	height:200px;
	width:200px;;
	margin:auto;
	border-radius:50%;
	box-shadow:1px 1px 5px #ddd;
}

.AccountScreen{
	margin:20px;
	border-radius:20px;
	box-shadow:1px 1px 5px #ddd;
}

.AccountScreen div{
	background:transparent;
}

.m-20{
	margin:20px;
}

.AccountScreen div h3{
	margin:15px;
	font-size:14px;
	opacity:0.8;
}

.editServiceCard{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:10px 0;
	font-size:14px;
}

.editServiceCard p{
	padding:4px;
}

.imageSlider{
	width:100%;
	overflow:scroll;
	display:flex;
	margin:20px 0px;
	padding:10px;
}

.imageSlider span{
	height:300px;
	display:flex;
	justify-content:center;
}

.imageSlider span img, .previewImage img{
	height:300px;
	margin:2px;
	box-shadow:1px 1px 5px #ddd;
	border-radius:10px;
}

.feed{
	margin:20px;;
	border-radius:10px;
	box-shadow:1px 1px 5px #ddd ;
}

.ShopType{
	border-radius:20px;
	box-shadow:1px 1px 5px #ddd;
	margin:5px 20px;
	padding:5px 40px;
	cursor:pointer;
}


.previewImage{
	background:transparent;
}

.addServiceCard{
	margin:20px;
}

.addServiceCard p{
	margin:20px;
	font-size:14px;
	line-height:18px;
	opacity:0.8;
}


.Description h1{
	border-bottom:2px solid black;
	margin:20px;
	font-size:20px;
	opacity:0.8;
}

.Description p{
	margin:10px;
	font-size:14px;
	opacity:0.8;
	letter-spacing:1.3px;
	word-spacing:4px;
}

.descBox{
	border: 1px solid #ddd;
	margin:5px;
	padding:10px;
}

.liked{
	color:red;
}

.PostScreen{
	margin:10px;
}

.post{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	box-shadow:1px 1px 5px #ddd;
	margin:20px 0px;
}

.post-tittle{
	margin:10px;
	opacity:0.6;
	font-weight:normal;
	letter-spacing:2px;
	font-size:17px;
}

summary{
	outline:none;
	cursor:pointer;
	opacity:0.7;
	margin:10px auto;
	color:blue;
	font-size:10px;
}

.whatsapp-share button{
	color:lightgreen;
}

.post-desc{
	word-spacing:4px;
	letter-spacing:1px;
	padding:20px;
}

.post-media{
	width:330px;
	margin:20px;
	border:1px solid #ddd;
	outline:none;
}

.posts-main-section{
	padding:20px 0;
	flex:5;
	margin:auto;
}

.post-comment-section{
	border-left:1px solid #eee;
	flex:2;
}

.post-comment-section-div{
	height:300px;
	overflow:scroll;
}

.post-user{
	font-size:10px;
}

.post-comment{
	height:fit-content;
	margin:5px;
}

.post-comment-text{
	border-radius:0 5000px 5000px 5000px;
	box-shadow:1px 1px 5px #ddd;
	padding:10px;
	margin:5px auto 5px 5px;
	font-size:14px;
	width:fit-content;
}

.post-reply-text{
	border-radius:5000px 0 5000px 5000px;
	box-shadow:1px 1px 5px #ddd;
	margin:5px auto 35px 5px;
	padding:10px;
	font-size:14px;
	width:fit-content;
}

.new-post{
	margin:20px;
	padding:20px 10px;
	box-shadow:1px 1px 5px #ddd;
}

.post-image-lable{
	font-size:10px;
	opacity:0.8;
}

.post-checkbox{
	margin:10px;
}

.post-tittle-input, .post-description-input{
	outline:none;
	border-radius:5px;
	padding:5px;
	margin:5px;
}

.service-card-input-post{
	border-radius:5000px;
	box-shadow:1px 1px 5pc #ddd;
	margin:10px;
	padding:5px;
}

.service-card-input-post h5{
	background:transparent;
}

.PPScreen{
	text-align:left;
	padding:30px;
}

.FAQData{
	padding:30px;
	text-align:left;
}





