*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	scroll-behavior:smooth;
	font-family: quicksand;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: rgba(107, 107, 107, 0.384); 
	border-radius: 5px;
	border: 3px solid transparent;
  }

.map-container {
	width: 100%;
	height: 50vh;
  }

 .marker{
	 background:transparent;
 }

.VStatus{
	color:orange !important;
	border:1px solid orange;
	border-radius:50000px;
	width:fit-content;
	margin:4px 1px;
	padding:4px;
}

b{
	background:transparent;
}

.c-name{
	padding-top:30px;
}

a{
	font-size:16px;
	transition:all ease 0.4s;
	padding:5px;
	background:transparent;
	color: rgba(0, 0, 0, 0.9);
	letter-spacing: 1px;
}

a:hover{
	color: rgb(0, 0, 14);
	text-shadow: 0.1px 0.1px 2px grey;
}

.App {
  text-align: center;
}

.para-whitespace{
	white-space: pre-wrap;
	text-align: left;
}

.whitebg{
	background-color:white;
}

.AboutUs{
	margin:60px;
	text-align: start;
}

.breakpoint{
	padding-top:40px;
}


.like-icon{
	font-size:12px !important;
	color:white !important;
	background-color:black;
	margin:auto 5px auto 0px;
}

.searchBar{
	padding:2px 4px;
	border-radius:20px;
	outline:none;
	opacity:1;
}

.logo{
	width:130px;
	min-height:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	background: transparent;
}

button{
	margin:8px;
	cursor:pointer;
	border:none;
	padding:5px 7px;
	box-shadow:0.5px 0.5px 3px 1px grey;
	outline:none;
	background-color:rgb(63, 63, 63);
	color:white;
	opacity:1;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	transition:all ease 0.3s;
	font-size: 10px;
}

button:hover{
	box-shadow:1px 1px 1px 1px grey, 
				-1px -1px 1px 1px grey,
				1px -1px 1px 1px grey,
				-1px 1px 1px 1px grey;

	color:orange;
}


em{
	opacity:0.8;
	font-size:10px;
}

.search-btn{
	position:sticky;
	top:35px;
	z-index:1;
}

.SiteIntro{
	position:relative;
	top:-60px;
	margin:50px 0 0 0;
	overflow:hiden;
	padding:30px;
	box-shadow:0.1px 0.1px 4px #ddd;
	background:rgba(0,0,0,0.5);
	background-size:cover;
	background-position:25% center;
}

.SiteIntro-bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#f5fffe;
	background-size:cover;
	background-position:25% center;
	filter:blur(2px);
}

.SiteIntro-content{
	position:relative;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.4);
	padding:20px;
}

.SiteIntro-content h3, 
.SiteIntro-content p, 
.SiteIntro-content a, 
.SiteIntro-content em, 
.SiteIntro-content div{
	background:transparent;
	position:relative;
}

.SiteIntro-content .img-div{
	width:100%;
	background:transparent;
	transition:all ease 0.5s;
	opacity:0;
	padding-top:20vh;
	animation: main-head 0.5s linear 0.5s forwards;
}


.SiteIntro-content .img-div img{
	width:290px;
	position:relative;
}

.head-des{
	text-align:left;
	font-size:14px;
	color:black;
	padding-left:18px;
	background:transparent;
	transition:all ease 0.5s;
	opacity:0;
	animation: main-head-des 0.5s linear 1s forwards;
}

@keyframes main-head {
	0%{
		opacity:0;
		transform:translatey(50%);
	}
	100%{
		opacity:1;
		transform:translatey(0%);
	}
}

@keyframes main-head-des {
	0%{
		opacity:0;
		transform:translatey(50%);
	}
	100%{
		opacity:0.4;
		transform:translatey(0%);
	}
}

.SiteIntro-content h3{
	padding-left:18px;
	font-family:helvetica;
	transition:all ease 0.3s;
	font-size:16px;
	opacity:0;
}

.SiteIntro-content h3 b{
	color:darkblue;
}

.SiteIntro-content em{
	font-size:14px;
	transition:all ease 0.3s;
	opacity:0;
}

.SiteIntro-content p{
	font-size:16px;
	opacity:1;
}

.SiteIntro-content h3:hover{
	color:darkblue;
}

.shadow{
	box-shadow: 0.1px 0.1px 2px gray;
}


.removeItem{
	position:relative;
	border:none;
}

textarea, input{
	padding:5px;
	border-radius:10px;
	box-shadow:0.5px 0.5px 3px #ddd;
	border:1px solid #ddd;
	outline:none;
}

.cross{
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#fff8db;
	opacity:0.7;
	cursor:pointer;
	margin:10px;
	box-shadow:1px 1px 3px #fff8db;
	position:fixed;
	top:0px;
	right:0px;
	border:none;
	color:black;
}

.feedCross{
	position:static;
	margin:0;
}

.feedNotice{
	display:flex;
	font-size:10px;
	color:rgba(0,0,0,0.4);
	height:fit-content;
	position:absolute;
	top:100px;
}

.feedNotice h3{
	cursor:pointer;
}

.cross-for-delete-search-name{
	font-size: 14px!important;
	fill: red!important;
	cursor: pointer;
	margin-left: 5px;
}

.cross:hover{
	box-shadow:1px 1px 15px red;
	background:red;
	opacity:0.8;
}

.service-card-input-post{
	border-radius:10px;
	box-shadow:1px 1px 5px rgb(156, 156, 156);
	margin:auto;
	padding:5px;
	max-width: 700px;
}

.service-card-input-post h5{
	background:transparent;
}

.PPScreen{
	text-align:left;
	padding:30px;
}

.FAQData{
	padding:30px;
	text-align:left;
}


.popup{
	background-color: black;
	color: rgb(255, 255, 255);
	overflow: hidden;
	padding: 20px;
}

.popup>*,.popup>*>*{
	background-color: black;
	color: rgb(255, 255, 255);
}

.unread-messages{
    position: fixed;
    top: 5px;
    right: 48px;
    z-index: 10;
    padding: 2px;
    border-radius: 50%;
    width: auto;
    height: auto;
    font-size: 8px;
    background-color: orange;
    box-shadow: 0.1px 0.1px 2px black;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer{
	cursor: pointer;
}