*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:white;
	font-family:'Brush Script MT';
	scroll-behavior:smooth;
	color:black;
}

.VStatus{
	color:orange;
	border:1px solid orange;
	border-radius:50000px;
	width:fit-content;
	margin:1px;
	padding:4px;
}

b{
	background:transparent;
}

.c-name{
	padding-top:30px;
}


.App {
  text-align: center;
}


.whitebg{
	background-color:white;
}

.AboutUs{
	margin:60px;
	text-align: start;
}

.breakpoint{
	padding-top:50px;
}

.f-cursive{
	font-family:cursive;
}

.NavbarDiv{
	display:flex;
	padding:4px;
	box-shadow:1px 1px 5px 1px grey;
	width:100%;
	position:fixed;
	z-index:1;
	opacity:0.95;
}

.searchBar{
	padding:2px 4px;
	border-radius:20px;
	outline:none;
	opacity:1;
}

.searchBarDiv{
	position:sticky;
	top:0px;
	opacity:0.9;
	z-index:1;
}

.logo{
	width:130px;
	min-height:30px;
	display:flex;
	justify-content:center;
	align-item:center;
	overflow:hidden;
	background: transparent;
}



.Navhead{
	font-size:25px;
	margin:0 5px 0 5px;
	font-family:cursive;
	font-weight: 900;
}

.msg-menu-div{
	display:flex;
	position:absolute;;
	right:0;
	top:0;
	height:100%;
}

button{
	margin:8px;
	cursor:pointer;
	border:0.5px solid black;
	padding:2px 5px;
	box-shadow:1px 1px 4px 1px grey;
	border-radius:500000px;
	outline:none;
	color:black;
	opacity:0.7;
	width:fit-content;
	height:fit-content;
}

button:hover{
	box-shadow:1.5px 1.5px 6px 1px grey;
	border:0.5px solid grey;
	opacity:0.8;
}

em{
	opacity:0.5;
}

.search-btn{
	position:sticky;
	top:35px;
	z-index:1;
}

.menu{
	position:absolute;
	top:40px;
	right:0;
	border:1px solid #ddd;
	padding:10px;
	border-radius:10px;
	width:200px;
	height:62vh;
	overflow:scroll;
}

.menu ul{
	list-style:none;
}

.menu ul li{
	margin:10px 0;	
}

.MainScreen{
	margin-top:0px;
}

.SiteIntro{
	position:relative;
	top:-60px;
	margin:0px 0;
	overflow:hiden;
	padding:30px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	box-shadow:0.1px 0.1px 4px grey;
	text-shadow:0.1px 0.1px 2px white;
}

.SiteIntro h1,.SiteIntro p,.SiteIntro a, SiteIntro em{
	background:transparent;
}

SiteIntro em{
	opacity:0.3;
}

.SiteIntro h1{
	padding-left:14px;
	font-family:helvetica;
	font-size:24px;
	opacity:0.4;
}

.SiteIntro div{
	width:100%;
	background:transparent;
	display:flex;
	justify-content:center;	
}


.SiteIntro div img{
	width:400px;
}

.SiteIntro p{
	font-size:30px;
	opacity:0.85;
}

.SiteIntro p{
	opacity:0.7;
}


.ServiceCatagoryCard{
	padding:15px;
}

.ServiceCatagoryCard div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-item:center;
	width:fit-content;
	border-radius:500000px;
	padding:10px;
	background-color:#fff;
	box-shadow:0.1px 0.1px 3px 1px rgba(100,100,100,0.8);
	cursor:pointer;
}

.ServiceCatagoryCard div img{
	width:80px;
	height:80px;
	border-radius:50%;
	display:block;
	background-color:black;
	overflow:hidden;
	margin:auto;
}

.ServiceCatagoryCard div div{
	border:none;
	margin:0 20px;
	background:transparent;
	box-shadow:none;
	width:fit-content;
}

.ServiceCatagoryCard div div h6, 
.ServiceCatagoryCard div div h3, 
.ServiceCatagoryCard div div p{
	background:transparent;
	text-decoration:none;
}


.ServiceCatagoryCard div div h3{
    font-weight: bolder;
    font-size:20px;
}


.ServiceCatagoryCard div div p{
	opacity:0.4;
}


.ServiceCatagories{
	padding:40px 20px;
}

.ServiceCatagories div{
	border-radius:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.ServiceCatagories h3{
	background:transpatent;
	padding:20px;
	font-size:20px;
}

.ServiceCatagories a{
	font-size:10px;
	opacity:1;
}




.ServiceCard div, .ServiceCard div img{
	border-radius:0px;
}

.ServiceCard div img{
	opacity:1;
	width:150px;
	height:150px;
}

.YouMayLike{
	display:flex;
	flex-direction:rows;
	justify-content:center;
}

.removeItem{
	position:relative;
	border:none;
}

.SearchScreen h6{
	opacity:0.5;
}

.SearchScreen div{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}


.FeedbackCard{
	background-color:#ddd;
	width:300px;
	border:1px solid #ddd;
	border-radius:20px 0;
	word-wrap:wrap;
	box-shadow:1px 1px 5px #ddd;
	margin:10px;
	display:flex;
	flex-direction:column;
	padding:20px;
}

.FeedbackCard h6, .FeedbackCard p, .FeedbackCard em{
	background:transparent;
	padding:5px;
}

.FeedbackCard h6{
	opacity:0.6;
}

.FeedbackCard p{
	font-size:12px;
	height:50px;
	overflow:scroll;
}

.FeedbackCard em{
	font-size:10px;
	opacity:0.4;
}

.FeedbackCard img{
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:black;
	overflow:hidden;
	margin:auto;
}

.Feedbacks{
	padding:20px 0;
	margin:40px auto;
}

.feedback-container{
	display:flex;
	padding:10px 0;
	width:100%;
	overflow:scroll;
}


.Footer div{
	padding:30px;	
	background-color:#ddd;
}

.Footer p{
	background-color:#ddd;
}

.AddFeedback{
	padding:20px;
	display:flex;
	flex-direction:column;
}

.MessageScreen{
	border:1px solid #ddd;
	padding:20px;
}

.MessageCard,.MessageCard div, .MessageCard div h3,.MessageCard div h6{
	background:transparent;
}

.MessageCard{
	background-color:#ddd;
	margin:15px;
	cursor:pointer;
	border-radius:50000px;
	box-shadow:1px 1px 10px grey;
	display:flex;
	padding:5px 20px;
	justify-content:center;
	align-item:center;
}


.MessageCard p{
	background-color:blue;
	width:20px;
	height:20px;
	border-radius:50%;
	margin-left:50px;
}

.MessageBoxOuter{
	border:1px solid grey;
	border-radius:10px;
	box-shadow:1px 1px 10px grey;
	position:absolute;
	top:0;
	width:100%;
	left:0;
	bottom:0;
	right:0;
	height:100%;
	overflow:scroll;
	z-index:2;
}

.cross{
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:red;
	opacity:0.7;
	cursor:pointer;
	margin:10px;
	box-shadow:1px 1px 3px red;
	position:fixed;
	top:0px;
	right:0px;
	border:none;
}

.feedCross{
	position:static;
	margin:0;
}

.feedNotice{
	display:flex;
	font-size:10px;
	color:rgba(0,0,0,0.4);
	height:fit-content;
	position:absolute;
	top:100px;
}

.feedNotice h3{
	cursor:pointer;
}

.cross:hover{
	box-shadow:1px 1px 15px red;
}

.cross-for-delete{
	position:static;
}

.MessageBox{
	padding:0px;
}

.MessageBox h2{
	border-bottom:1px solid #ddd;
}

.MessageBox h5{
	position:sticky;
	top:10px;
	background:transparent;
}

.toSend{
	display:flex;
	width:100%;
	position:sticky;
	bottom:0;
}

.toSend textarea{
	width:100%;
	margin:10px;
}

.msgContent{
	padding:10px;
	width:100%;
}

.msg{
	border:1px solid #ddd;
	padding:10px;
	width:fit-content;
	margin:10px;
	border-radius:20px;
	box-shadow:1px 1px 10px #ddd;
	background-color:#eee;
}

.myMsg{
	background-color:#fff;
	margin-left:70px;
}

.msg p{
	padding:10px;
	text-shadow:0.1px 0.1px 5px pink;
	background:transparent;
}

.msg h6,.msg em{
	color:black;
	background:transparent;
}

.dummyText{
	display:flex;
	width:100%;
	overflow:scroll;
	border:1px solid grey;
	margin-bottom:20px;
}

.dummyText h3{
	
	border-radius:10px;
	box-shadow:1px 1px 5px 1px black inset,
				-1px -1px 5px 1px grey inset;
	margin:20px;
	padding:10px;
	width:400px;
	cursor:pointer;
}

.dummyText h6{
	background:transparent;
	font-family:cursive;
}

.SignupScreen{
	border:1px solid black;
	border-radius:20px;
	box-shadow:1px 1px 5px black;
	margin:20px;
	display:flex;
	flex-direction:column;
}

.SignupScreen input{
	margin:20px 50px;
	font-size:24px;
	border-radius:20px;
	outline:none;
	padding:4px 10px;
	text-align:center;
}

.SignupScreen button{
	width:fit-content;
	margin:10px 30px 20px 80px;
}

.SignupScreen .signup-btn{
	width:80%;
	margin:10px 10%;
	font-size:30px;;
}

.SignupScreen textarea{
	margin:20px;
	padding:10px;
}


.profileImg{
	height:200px;
	width:200px;;
	margin:auto;
	border-radius:50%;
	border:1px solid grey;
	box-shadow:1px 1px 5px grey;
}

.AccountScreen{
	margin:20px;
	border:1px solid black;
	border-radius:20px;
	box-shadow:1px 1px 5px black;
}

.AccountScreen div{
	background:transparent;
}

.m-20{
	margin:20px;
}

.AccountScreen div h3{
	margin:15px;
}

.editServiceCard{
	margin:30px 10px;
	border:1px solid grey;	
}

.editServiceCard p{
	padding:4px;
}

.imageSlider{
	width:100%;
	overflow:scroll;
	display:flex;
	margin:20px 0px;
	padding:10px;
	box-shadow:1px 1px 5px grey;
}

.imageSlider span{
	height:300px;
	display:flex;
	justify-content:center;
}

.imageSlider span img, .previewImage img{
	height:300px;
	margin:2px;
	border:1px solid black;
	box-shadow:1px 1px 5px black;
	border-radius:10px;
}

.feed{
	margin:20px;
	border:1px sloid grey;
	border-radius:10px;
	box-shadow:1px 1px 5px grey;
}

.ShopType{
	border:1px solid black;
	border-radius:20px;
	box-shadow:1px 1px 5px black;
	margin:5px 20px;
	padding:5px 40px;
	cursor:pointer;
}


.previewImage{
	background:transparent;
}

.addServiceCard{
	border:1px solid grey;
	margin:30px;
	padding:20px;
}

.addServiceCard p{
	margin:20px;
}


.Description h1{
	border-bottom:2px solid black;
	margin:20px;
}

.Description p{
	margin:10px;
}

.descBox{
	border: 1px solid rgba(3,3,3,1);
	margin:5px;
	padding:10px;
}

.liked{
	color:blue;
}

.PostScreen{
	margin:20px;
}

.post{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	box-shadow:1px 1px 5px #ddd;
}

.post-tittle{
	margin:10px;
	opacity:0.6;
	font-weight:normal;
	letter-spacing:2px;
	font-size:17px;
}

summary{
	outline:none;
	cursor:pointer;
	opacity:0.7;
	margin:10px auto;
	color:blue;
	font-size:10px;
}

.whatsapp-share button{
	color:green;
}

.post-desc{
	word-spacing:4px;
	letter-spacing:1px;
	padding:20px;
}

.post-media{
	width:350px;
	border:1px solid #ddd;
	outline:none;
}

.posts-main-section{
	padding:20px 0;
	flex:5;
	margin:auto;
}

.post-comment-section{
	border-left:1px solid #eee;
	flex:2;
}

.post-comment-section-div{
	height:300px;
	overflow:scroll;
}

.post-user{
	font-size:10px;
}

.post-comment{
	height:fit-content;
	margin:5px;
}

.post-comment-text{
	border-radius:0 5000px 5000px 5000px;
	box-shadow:1px 1px 5px #ddd; 
}

.post-reply-text{
	border-radius:5000px 0 5000px 5000px;
	box-shadow:1px 1px 5px #ddd;
	margin-left:25px;
}

textarea{
	outline:none;
	padding:5px;
}

